.dt-button {
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
}
.buttons-csv {
  background-color: rgb(16, 227, 157);
}

.buttons-pdf {
  background-color: #ed1a29;
}

.buttons-copy {
  background-color: #e6dd9d;
}
.btn {
  color: white !important;
}
